<a href="https://colab.research.google.com/github/12004281-INT102/PYTHON-PROGRAMMING/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Squence of values-can store any type of values

In [ ]:
#list=[]--empty list
fruit=['apple','grapes','banana','kiwi','orange','lichi']
type(fruit)

List can be created i 2 ways. 1-direct values.--2. by list()

In [ ]:
fruit=list(['apple','grapes','banana','kiwi','orange','lichi'])
print(fruit)

In [ ]:
L=[1,2,3,4,5,6,7,8,9,10]
print(L)
M=list(range(1,11))
print(M)

In [ ]:
N=list("1234567")
print(N)
student=[12004281,'Kesiya S joseph','M2041',19,8.04]
print(student)

list is mutable-add or remove elemnts from list

In [ ]:
#accessing the elements from list
#use index operator []with index value
print(student[1])

In [ ]:
#list slicing-divide the list into various list
#            -accessing the sequance of element from list
#listnamr[startindex:endindex:stepdifference] step diff is optional
L=[1,2,3,4,5,6,7,8,9,10]
print(L[4:8])

In [11]:
fruit=list(['apple','grapes','banana','kiwi','orange','lichi'])
newlist=fruit[0:6:5]
print(newlist)

['apple', 'lichi']

In [ ]:
#slicing shortcuts
L=[1,2,3,4,5,6,7,8,9,10]
print(L[:7])
print(L[6:])
print(L[::3])
print(L[:])

In [16]:
fruit=list(['apple','grapes','banana','kiwi','orange','lichi'])
newfruit=fruit[-1:-6:-1]
print(newfruit)

['lichi', 'orange', 'kiwi', 'banana', 'grapes']

+ plus and * operator in list-- + join list and * to replicate the element in list

In [ ]:
L1=[1,2,3,4,5]
L2=[6,7,8,9,0]
L3=L1+L2
print(L3)
L4=L1 * 2
print(L4)

+ in and is operator--in: to know whether element belong to list.-Is:check if two variable refer to same object of difference

+ del operator-remove the element or list

In [ ]:
#list methods: performs operation on list
# 1: append method-append()-adds an element at the end of list. 
# syantax: list.append(element)
L=[]
L.append(1)
L.append('a')
L.append(100)
print(L)
L.append('b')
print(L)

In [ ]:
#2: clear method-remove all the items from list
#3: count-returns the number of times the element appears
#4: copy-returns shallow copy of of list
#5: extend-add list at the end of previous list
L=[1,2,3,4,5,6]
L.clear()   #clears just elements
print(L)
L1=[1,2,2,4,6,4,9,7,5,4,2]
L1.count(2)
L2=['a','b','c']
B=L2.copy()
print(B)
L1.extend(L2)
print(L1)

In [ ]:
#6 index-returns the first occurance of the element
#7 insert-insert a new element at given index value
#8 pop- remove the element from given index, if no index mention by default it will remove last
#9 remove-remove the element from list only first occurance
#10 reverse-will reverse the element of list
#11 sort-arrange list in ascending or decending order, by default ascending
L=[1,2,3,4,5,6]
print(L.index(4))
L.pop(1)
L.pop()
print(L)
L1=[1,2,2,4,6,4,9,7,5,4,2]
L1.remove(2)
print(L1)
L2=['a','b','c']
L2.insert(1,'e')
print(L2)
L3=[23,43,12,76,68,56,99,34]
L3.sort()
print(L3)
L3.sort(reverse=True)
print(L3)
L3.reverse()
print(L3)

+ process the list using python built in method

In [ ]:
#len()-count total number of elements of list
#max()-returns the maximun value of list
#min()-returns the minimum value of lisy
#sum()-returns the sum of all the elements of list
#del()-delete the list object with list element
L=[1,2,3,4,5]
print(len(L))
print(min(L))
print(max(L))
del(L)

+ tansvering list using for loop

In [ ]:
# for interate-var in list:
   #body of loop
#print all the elements one by one
L=[1,2,3,4,5,6,]
for a in L:
  print(a,end=' ')
#print sum of elements
L=[1,2,3,4,5,6,]
sum=0
for x in L:
  sum=sum+x
print('required sum=',sum)

In [ ]:
#print max and mim value without built in method
L=[1,2,3,4,5,6]
MX=L[0]
for x in L:
  if (MX < x):
    MX=x
print('Maximun value=',MX)   
MN=L[0]
for y in L:
  if(MN > y):
    MN=y 
print('Minimum value=',MN)

In [ ]:
#print how many times a given value occurs without count method
a=int(input('enter the value of a='))
count=0
L=[1,2,3,3,3,4,5,6]
for x in L:
  if(x == a):
    count=count+1
    result=True
if(result == True):
  print(a,'appeared in list',count)  
else:
  print(a,'does not exist')

+ list comprehensions-create new list using exiting list sequence

In [51]:
L=[1,2,3,4,5,6]
L1=[x for x in L if x % 2 == 0]
L2=[x for x in L if x % 2 != 0]
print(L1)
print(L2)

[2, 4, 6]
[1, 3, 3, 3, 5]