<a href="https://colab.research.google.com/github/12004281-INT102/PYTHON-PROGRAMMING/blob/main/PYTHONINT102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**12004281-INT102 COMPUTER PROGRAMMING**

UNIT-1 INTRODUCTION, VARIABLE, EXPRESSION AND STATEMENT

PR0GRAM ON ARTIMETIC OPERATION

In [4]:
f = 98
c = (f - 32) * 5 / 9
print("Temperature in celcius is" , round(c,2))

Temperature in celcius is 36.67

PROGRAM TO INTERCHANGE THE VALUES OF TWO VARIABLE USING THIRD VARIABLE

In [5]:
X=20
Y=30
print("Before Swapping X=",X)
print("Before Swapping Y=",Y)
temp=X
X=Y
Y=temp
print("After Swapping X=",X)
print("After Swapping Y=",Y)

Before Swapping X= 20
Before Swapping Y= 30
After Swapping X= 30
After Swapping Y= 20

PROGRAM INTERCHANGE VALUE OF TWO VARIABLE WITHOUT USING THIRD VARIABLE

In [6]:
A=20
B=30
print("Before Swapping X=",A)
print("Before Swapping Y=",B)
A=A+B
B=A-B
A=A-B
print("After Swapping X=",A)
print("After Swapping Y=",B)

Before Swapping X= 20
Before Swapping Y= 30
After Swapping X= 30
After Swapping Y= 20

USE OF INPUT FUNCTION

In [11]:
A=int(input('Enter the value of A='))
B=int(input('Enter the value of B='))
C=A+B
print("Sum of A and B is", C)

Enter the value of A=12
Enter the value of B=23
Sum of A and B is 35

In [15]:
S1=eval(input('Enter mark for subject 1='))
S2=eval(input('Enter mark for subject 2='))
S3=eval(input('Enter mark for subject 3='))
S4=eval(input('Enter mark for subject 4='))
S5=eval(input('Enter mark for subject 5='))
Avg=(S1+S2+S3+S4+S5)/5
percent=(S1+S2+S3+S4+S5)/500 * 100
print("The average marks for subjects are= ",round(Avg,1))
print("The percentage of subjects are=",round(percent,2))

Enter mark for subject 1=124.5
Enter mark for subject 2=234.4
Enter mark for subject 3=124.44
Enter mark for subject 4=123.76
Enter mark for subject 5=234.67
The average marks for subjects are=  168.4
The percentage of subjects are= 168.35