<a href="https://colab.research.google.com/github/12004281-INT102/PYTHON-PROGRAMMING/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create an empty tuple
A=()
type(A)
#create tuple of integers
T=(1,2,3,4,5,6)
T1=tuple([1,2,3,4,5,6])
print(T)
print(T1)
#T[0]=11 #tuple are immutable
#print(T)

In [ ]:
L=['apple','banana','grape']
T=tuple(L)
print(T)

In [ ]:
#tuple concetination(merging or joining)
t1=(1,2,3)
t2=(5,6,7)
t3=t1+t2
print(t3)

In [ ]:
x=zip(t1,t2)
x=tuple(x)
print(x)

In [ ]:
#acessing elements of tuple using index with index with index operator[]
t=('apple','grape','pineapple')
print(t[2])

In [ ]:
#tuple silicing
t=('apple','grape','pineapple','kiwi','one','two')
fruit=t[0:3]
print(fruit)

In [ ]:
#built in function of tuple
#len(),sum(),index(),count()
#min(),max()

In [ ]:
#reverse the tuple
t=(1,2,3,4,5)
L=list(t)
print(L)
L.reverse()
print(L)
T=tuple(L)
print(T)

In [ ]:
#insert element in tuple
T=()
L=list()
for x in range(5):
  country=input('Enter country name')
  L.append(country)
T=tuple(L)
print(T)